/*Use this document to style your CV with info page.*/


/*Position the myphoto to the center of the screen*/
header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/*Style the name and title. Give it a coo font!*/
header h1 {
    text-align: center;
    font-size: 5em;
    margin-top: 0.5em;
    font-family: 'Arial Black', sans-serif;
    color: rgb(34, 61, 114);
}

/*Style the Summary section. Make it look nice and clean and under the name!*/
h2 {
    text-align: center;
    margin-top: 1em;
    font-size: 2.7em;
    color: rgb(97, 116, 154);
}

h2 + p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
}

h2 + ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}